DB_HOST=host
DB_PORT=porta_do_banco
DB_NAME=nome_do_banco
DB_USERNAME=seu_usuario_do_postgres
DB_PASSWORD=sua_senha_do_postgres
JWT_SECRET=sua_chave_token_lunnar
CORS_ALLOWED_ORIGINS=url_frontend
BASE_URL=url_backend
